.sidebar {
  width: 250px;
  background-color: #111827;
  color: white;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px solid #374151;
  padding-bottom: 10px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  text-decoration: none;
  color: #d1d5db;
  padding: 10px 15px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background-color: #1f2937;
  color: white;
}

.sidebar-link.active {
  background-color: #2563eb;
  color: white;
  font-weight: 500;
}


.logout-btn {
  margin-top: auto;
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #b91c1c;
}
